{% extends 'base.html' %}

{% block title %}About Me | My Portfolio{% endblock %}

{% block content %}
<div class="card" style="min-height: 140px;">
    <h1>About Me</h1>
    <p><strong>Name:</strong> Arjay Tullao</p>
    <p><strong>About:</strong> I love playing basketball and I play guitar instrumentally.</p>
</div>

<div class="card" style="min-height: 140px;">
    <h2>About Details</h2>
    <p><strong>School:</strong> Holy Angel University</p>
    <p><strong>Skills:</strong> C++, HTML, Basic Django</p>
    <p><strong>Course:</strong> Computer Engineering</p>
</div>
{% endblock %}
