{% extends 'base.html' %}

{% block title %}My Projects | My Portfolio{% endblock %}

{% block content %}
<h1>My Projects</h1>

{% if projects %}
    {% for project in projects %}
    <div class="card" style="min-height: 140px;">
        <h2>{{ project.project_name }}</h2>
        <p><a href="{% url 'project_detail' project.pk %}">View details</a></p>
    </div>
    {% endfor %}
{% else %}
    <div class="card">
        <p>No projects have been added yet.</p>
    </div>
{% endif %}
{% endblock %}
